<div class="customer">
  <p>
    <strong>Name:</strong>
    <%= customer.full_name %>
  </p>
  <p><%= image_tag customer.image %></p>
  <p>
    <strong>Province: </strong>
    <%= customer.province %>
  </p>
  <p>
    <%= customer.phone_number %>
  </p>
  <p>
    <%= customer.email_address %>
  </p>
</div>